.header {
    position: relative;
    z-index: 12;
    width: 100%;
    height: 88px;
    background: rgba(49, 90, 140, 0.95);
    &__wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__icon {
        height: 46px;
        width: auto;
        padding: 0 20px;
    }
    &__center {
        .header__icon {
            height: auto;
            width: 140px;
        }
    }
    &__right {
        position: relative;
        cursor: pointer;
    }
    &__droplist {
        position: absolute;
        right: 30px;
        top: 88px;
        z-index: 11;
        height: 474px;
        width: 296px;
        color: #4ebafe; // padding-left: 26px;
        // padding-top: 25px;
        border-radius: 0 0 16px 16px;
        background-color: rgba(49, 90, 140, 0.9);
        .droplist {
            &__userinfo {
                display: flex;
                flex-flow: row nowrap;
                padding-bottom: 34px;
                padding-top: 25px;
                padding-left: 26px;
                background-color: rgba(49, 90, 140, 0.15);
                &__avatar {
                    height: 70px;
                    width: 70px;
                    margin-right: 14px;
                }
                &__info {
                    font-size: 28px;
                    line-height: 40px;
                }
                &__name {
                    color: #fff;
                }
            }
            &__link {
                float: left;
                width: 100%;
                font-size: 30px;
                padding-left: 26px;
                line-height: 80px;
                height: 80px;
                overflow: hidden;
                cursor: pointer;
                &.active {
                    background-color: rgba(49, 90, 140, 0.05);
                }
                a {
                    vertical-align: middle;
                    color: #4ebafe;
                    &:hover {
                        text-decoration: none;
                    }
                }
                img {
                    height: 30px;
                    width: 50px;
                    padding-right: 20px;
                    vertical-align: middle;
                }
            }
        }
    }
}

.droplist__layer {
    width: 10000px;
    height: 10000px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.drop-enter-active,
.drop-leave-active {
    transition: all 0.4s;
}

.drop-enter,
.drop-leave-to {
    opacity: 0;
}

.drop-enter {
    transform: translateY(-100%);
}

.drop-leave-active {
    transform: translateY(-100%);
}